
*~
build/
dist/
# dpkg-buildpackage drops the plugin artifacts in os-plugins/ (belt to the
# braces of os-plugins/.gitignore, so a deleted subdir ignore cannot expose them)
os-plugins/*.deb
os-plugins/*.ddeb
os-plugins/*.changes
os-plugins/*.buildinfo
.bzr
*.c
debian/.debhelper/
debian/debhelper-build-stamp
debian/*.debhelper.log
debian/files
debian/timeshift/
debian/timeshift.debhelper.log
debian/timeshift-ssh/
debian/timeshift-ssh.debhelper.log
debian/timeshift-ssh.substvars
debian/timeshift.substvars
debian/tmp/
designs/
*.geany
.git
*.mo
*.o
obj-*/
parts/
po-lp/
prime/
release/
release/amd64
release/armel
release/armhf
release/*.deb
release/i386
release/*.run
release/source
rpm/
snap/
src/timeshift
src/timeshift.1
src/timeshift-gtk
stage/
debian/*.debhelper
