[Desktop Entry]
Type=Application
Name=Timeshift Tray
Comment=Show Timeshift snapshot status in the system tray
Exec=/usr/bin/timeshift-tray
Icon=timeshift-tray
Terminal=false
Categories=System;
X-GNOME-Autostart-enabled=true
X-GNOME-UsesNotifications=true
