[Desktop Entry]
Type=Application
Name=Timeshift Tray
Comment=Show Timeshift snapshot status in the system tray
Exec=/usr/bin/timeshift-tray
Icon=timeshift
Terminal=false
Categories=System;
Keywords=backup;snapshot;timeshift;tray;
X-GNOME-UsesNotifications=true
